.card_about {
    display: grid;
    color: #3b6168;
    padding: 20px;
    margin-top: 80px;
    text-align: center;
  }

  .lines_effect {
    font-size: 2.5em;
    margin-bottom: 50px;
    display: inline-block;
    position: relative;
   }
   
   .lines_effect::after, .lines_effect::before{
     content: '';
     position: absolute;
     width: 12em;
     height: 3px;
     background-color: #3b6168;
     top: 0.6em;
   }
   
   .lines_effect::before{
     left: 20px;
   }
   
   .lines_effect::after{
     right: 20px;
   }

.line_left {
  background-color: #3b6168;
  height: 10px;
  margin-left: 0%;
  width: 50%;
}


.card_about p{
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
  font-size: 1.7em;
  text-align: justify;
}
  